snippet bar "Simple Comment Bar 80 Chars Long"
//-----------------------------------------------------------------------------
endsnippet

snippet tcom "Full comment bar"
/**-----------------------------------------------------------------------------
* ${1:a text}
-----------------------------------------------------------------------------**/
endsnippet
