snippet bar "Simple Comment Bar 80 Chars Long"
//-----------------------------------------------------------------------------
endsnippet

snippet tcom "Full comment bar"
/**-----------------------------------------------------------------------------
* ${1:a text}
-----------------------------------------------------------------------------**/
endsnippet

snippet td "TODO comment"
// TODO ${1: What to do}
// ----
endsnippet

snippet fm "FIXME comment"
// FIXME ${1: What to fix}
// ----
endsnippet
