snippet cbar "Simple Comment Bar 80 Chars Long"
--[[----------------------------------------------------------------------------
${1:a text}
----------------------------------------------------------------------------]]--
endsnippet
