snippet cbar "Simple Comment Bar 80 Chars Long"
--[[----------------------------------------------------------------------------
${1:a text}
----------------------------------------------------------------------------]]--
endsnippet

snippet sm "Setmetatable"
setmetatable(${1:child}, {__index = ${2:parent}})
endsnippet

snippet p "Print Statement"
print(${1:message})
endsnippet
